/*背景*/
.the-background{
	background-image:url(../img/bg1.jpg);
	width:100%;
	height:100%;
	background-position:center;
}


/*主体*/
.the-container{
	width:1024px;
	margin:0px auto;
	background:rgba(255,255,255,0.6);
	/*opacity:0.6;*/
}


/*频道选择器*/
.the-channels ul li{
	display:inline-block;
	margin:5px 0px 5px 8px;
	padding:5px 10px;
	border:1px solid #60c7d7;
	cursor:pointer;
}

.the-channels ul li:hover{
	background:#60c7d7;
	color:#fff;
}

/*控制器*/
.the-control-kj{
	width:80%;
	margin:0px auto;
	border-radius:5%;
	box-shadow:0px 10px 25px #888;
}