/**/
@base: #f938ab;

.box-shadow(@style, @c) when (iscolor(@c)) {
  -webkit-box-shadow: @style @c;
  box-shadow:         @style @c;
}
.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}
.box {
  color: saturate(@base, 5%);
  border-color: lighten(@base, 30%);
  div { .box-shadow(0 0 5px, 30%) }
}

/*控制器*/

/*命名*/
@c: .the_control;
@audio: .the_audio;

/*颜色*/
@coba: #F6F5EF;
@cobotton: #756957;

/*样式值*/
@sfonts: 24px;


/*函数*/
.buttonw(@sfonts; @x){
	padding: @sfonts - @x;
}
.boxshadow(@x;@y;@z;@color){
	box-shadow:@arguments;
	-moz-box-shadow:@arguments;
}

.audioCom(@w){
	float:left;
	width:@w;
}

/*应用*/
@{c}_common{
	/*background-color:lighten(@coba,20%);*/
	background-color:@coba;
	display:inline-block;
	border-radius:50%;
	.buttonw(24px;8px);
	color:darken(@cobotton,10%);
	.boxshadow(0px;2px;15px;#888);
	>i{
		
		font-size:@sfonts;
	}
	&:hover{
		background-color:lighten(@coba,10%);
		color:darken(@cobotton,20%);
	}
}

.the_audio_left{
	.audioCom(50%);
}

@{audio}_right:extend(.the_audio_left){}
